git+https://github.com/etsi-cti-admin/RESTinstance
robotframework==5.0.1
robotframework-dependencylibrary==1.0.0.post1
robotframework-jsonlibrary==0.3
robotframework-jsonschemalibrary==1.0
robotframework-mockserver==0.0.7
robotframework-requests==0.8.0
