target
**/.settings
**/.classpath
**/.project
**/.buildpath
**/.factorypath
**/.springBeans
**/.project
**/.classpath
.idea
.checkstyle
.DS_Store
.*~
*.iml
**/logs/
**/debug-logs/
*.class
*.swp
*.log
*.tmp
**/bin/
/.metadata/
**/.sts4-cache
**/.java-version
index.html
**/.openapi-generator
.openapi-generator-ignore
yang-parser/src/main/resources/modules/*.yang
yang-parser/src/test/resources/_orig-modules/ietf*.yang
yang-parser/src/test/resources/_orig-modules/_3gpp*.yang
yang-parser/src/test/resources/_orig-modules/iana*.yang
pgsql-schema-generator/src/test/resources/generate-defaults/import/*.yang
teiv/src/main/resources/models/import/*.yang
